{{define "head"}}
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.15/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.15/dist/summernote.min.js"></script>
{{end}}
{{define "title"}}Projects{{end}}
{{define "body"}}
<div class="container">
    <div class="row"><h2 class="col-12 text-center mt-4">{{.Project.Title}}</h2></div>
    <div class="row"><h4 class="col-12 text-center">{{.Project.Description}}</h4></div>
    <div class="row align-items-center mt-2">
        <div class="col text-left">
            <a class="btn btn-primary text-white" href="/projects"><span class="fas fa-angle-left"></span> Back to Projects</a>
        </div>
        <div class="col text-center">
            <button class="btn btn-sm btn-outline-secondary" onclick="$('.document').collapse('hide');">Colapse All</button>
            <button class="btn btn-sm btn-outline-secondary" onclick="$('.document').collapse('show');">Expand All</button>
        </div>    
        <div class="col text-right">
            {{if .Role.CanWrite}}<button class="btn btn-primary" onclick="createDoc();"><span class="fas fa-plus"></span></button>{{end}}
        </div>
    </div>        
    {{range .Documents}}
    <div class="row mt-1">
        <div class="container">
            <div class="card">
                <div class="card-header" role="tab" id="cardHeader-{{.ID}}">
                  <h5 class="mb-0">
                    <a data-toggle="collapse" href="#doc-{{.ID}}" aria-expanded="true" aria-controls="doc-{{.ID}}">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col text-left">
                                    {{.Title}}
                                </div>
                                <div class="col text-right">
                                    <small>
                                        <a href="javascript:copyStringToClipboard(getLink({{.ID}}));"><span class="fas fa-link"></span></a>
                                        {{if $.Role.CanWrite}}
                                        <a href="javascript:editDoc({{.ID}});"><span class="fas fa-edit ml-1"></span></a>
                                        <a href="javascript:deleteDoc({{.ID}});"><span class="fas fa-trash ml-1"></span></a>
                                        {{end}}
                                    </small>
                                </div>
                            </div>
                        </div>                        
                    </a>
                  </h5>
                </div>
                <div id="doc-{{.ID}}" class="collapse document" role="tabpanel" aria-labelledby="cardHeader-{{.ID}}" data-title="{{.Title}}" data-sort-order="{{.SortOrder}}">
                  <div class="card-body">                    
                    <div class="col" id="doc-{{.ID}}-body"></div>
                    <div class="text-muted font-italic mt-3"><small class="localDate">{{.UpdatedAt.UTC.Unix}}</small></div>
                  </div>
                </div>
              </div>
        </div>
    </div>
    {{end}}
</div>

<div class="modal" id="editorModal" tabindex="-1" role="dialog" aria-labelledby="editorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <form id="editorForm" action="" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editorModalLabel">#Title</h5>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="projectID" id="editorProjectID">
                    <input type="hidden" name="documentID" id="editorDocumentID">
                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                Sort Order
                            </span>
                        </div>
                        <input type="number" name="sortOrder" id="editorInputSortOrder" class="form-control" value="0">
                    </div>
                    <input class="mb-1 form-control" type="text" name="title" id="editorInputTitle" placeholder="Title">                    
                    <textarea name="body" id="editorInputBody" placeholder="Body"></textarea>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" id="editorSubmitButton" type="submit">#Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form id="deleteForm" action="/documents/delete" method="post">
            <input type="hidden" name="projectID" value="{{.Project.ID}}">
            <input type="hidden" name="documentID" id="deleteDocumentID">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Document</h5>                    
                </div>
                <div class="modal-body">
                    You are about to delete this document, are you sure?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button class="btn btn-danger" type="submit">Yes</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function(){
        {{range .Documents}}
            $('#doc-{{.ID}}-body').html('{{.Body}}');
        {{end}}

        $('#editorInputBody').summernote({
            height: 350            
        });

        $('.localDate').text(function(index, txt){
            return 'Last Update: ' + new Date(parseInt(txt)*1000).toLocaleString();
        });

        try{$('#'+window.location.href.split('#', 2)[1]).collapse('show');}catch{}
    });

    function createDoc(){
        $('#editorModalLabel').text('New Document');
        $('#editorProjectID').val('{{.Project.ID}}');
        $('#editorDocumentID').val('');        
        $('#editorInputTitle').val('');
        $('#editorInputSortOrder').val(0);
        $('#editorInputBody').summernote('code', '');
        $('#editorSubmitButton').text('Create');
        $('#editorForm').attr('action', '/documents/create');
        $('#editorModal').modal('show');
    }

    function editDoc(docID){
        let docElem = $('#doc-'+docID);        
        $('#editorModalLabel').text('Edit Document');
        $('#editorProjectID').val('{{.Project.ID}}');
        $('#editorDocumentID').val(docID);
        $('#editorInputTitle').val(docElem.data('title'));
        $('#editorInputSortOrder').val(docElem.data('sort-order'));
        $('#editorInputBody').summernote('code', $('#doc-'+docID+'-body').html());
        $('#editorSubmitButton').text('Update');
        $('#editorForm').attr('action', '/documents/edit');
        $('#editorModal').modal('show');
    }

    function copyStringToClipboard(str){
        var el = document.createElement('textarea');
        el.value = str;
        el.setAttribute('readonly', '');
        el.style = {position: 'absolute', left: '-9999px'};
        document.body.appendChild(el);
        el.select();
        el.setSelectionRange(0, 9999);
        document.execCommand('copy');
        document.body.removeChild(el);

        alert('Copied to clipboard: '+str);
    }

    function getLink(docID){
        return window.location.href.split('#', 2)[0] + '#doc-'+docID;
    }

    function deleteDoc(docID){
        $('#deleteDocumentID').val(docID);
        $('#deleteModal').modal('show');
    }
</script>
{{end}}
