{{define "head"}}{{end}}
{{define "title"}}Edit Project{{end}}
{{define "body"}}
<div class="container">
    <div class="row">
        <div class="offset-4 col-4 jumbotron text-center">
            <h1>Edit Project</h1>
            <form action="" method="post">                
                <p><input type="text" name="title" id="title" placeholder="Title" value="{{.Project.Title}}" required></p>
                <p><input type="text" name="description" id="decription" placeholder="Description" value="{{.Project.Description}}" required></p>
                {{if .Err}}<p class="text-danger">{{ .Err}}</p>{{end}}
                <a class="btn btn-secondary" href="/projects">Cancel</a>
                <button class="btn btn-primary btn-login" type="submit">Update</button>
            </form>
        </div>
    </div>
</div>
{{end}}